.card-title {
  margin-left: 10px;
  font-size: xx-large;
}

th {
  border-bottom-width: 2px !important;
  font-size: large;
  font-weight: bold;
  align-items: center;
}

.mat-table {
  overflow: auto;
  box-shadow: none;
}

.mat-header-cell, .mat-cell {
    min-width: 100px;
    text-align: center;
}


.formulario{
  margin-top: 2em;
  padding: 1em;
  background-color: #ffff;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(18, 87, 115, 0.4);
  border-radius: 3px;
  color: black;
  text-align: center;
}


.corto{
  width: 5%;
}
.largo{
  width: 12%;
}






.mat-paginator-container {
  min-height: 0px !important
}

