.w-25 {
  width: 25%;
  font-size: large;
  font-weight: bold;
  align-items: center;
}

.w-20 {
  width: 20%;
  font-size: large;
  font-weight: bold;
 
}
.table-responsive{
 
}
.w-10 {
  width: 10%;
  font-size: large;
  font-weight: bold;
 
}
.w-15 {
  width: 15%;
  font-size: large;
  font-weight: bold;
 
}
.w-5 {
  width: 5%;
  font-size: large;
  font-weight: bold;
 
}

a {
  color: black !important;
}
.card-title {
  margin-left: 10px;
  font-size: xx-large;
}
