<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Aviso</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>¿Ud. está seguro de eliminar el isnumo <span class="text-primary"></span> {{deleteSupplies}}?</strong></p>
    <p>Toda la información asociada con este producto será eliminada.</p>
    <span class="text-danger">Esta operación no se puede deshacer.</span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-dark" (click)="modal.dismiss('cancel click')">Cancelar</button>
    <button type="button" ngbAutofocus class="btn btn-info" (click)="modal.close('Ok click')">Aceptar</button>
  </div>
</ng-template>

<ng-container *ngIf = "this.userRole === 'ADMIN'">
  <table-list-supplies *ngIf="!isEdited && !isAdded && !isDetailed" [updateTableEvent]="updatedTableEvent"
    (detailed)="onDetailed($event)" (added)="onAdded($event)" (edited)="onEdited($event)" (deleted)="onDeleted($event)">
  </table-list-supplies>
  <supplies-form *ngIf="isEdited || isAdded || isDetailed" (updateTableEvent)="updateTableData($event)"
    (closeFormEvent)="onClose($event)" [isDetailed]="isDetailed" [editedSupplies]="selectedSupplies"></supplies-form>
</ng-container>