<div class="logo">
    <a href="#" [routerLink]="'/'" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/logo-combi19.png" />
        </div>
        Combi 19
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a *ngIf="this.userRole === menuItem.roles" class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>

        <li routerLinkActive="active" class="nav-item coso" *ngIf="this.userRole === 'ADMIN'">
            <div class="dropdown show">
                <a class=" nav-link" href="#"  id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">poll</i>
                    <p>Reportes</p>
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li  class="nav-item" >
                        <a class="nav-link" [routerLink]="'/travelReport'">
                            <p>Reporte de Viajes</p>
                        </a>
                    </li>
                    <li class="nav-item" href="#">
                        <a class="nav-link" [routerLink]="'/covidReport'">
                            <p>Reporte de Pasajeros</p>
                        </a>
                    </li>

                </ul>
            </div>



        </li>
    </ul>
</div>