<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Rutas</h4>
                        <p class="card-category"> Administracion de rutas</p>
                    </div>

                    <div class="card-body">
                        <form #loginForm="ngForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Origen</mat-label>
                                        <mat-select required="true" [disabled]="isDetailed" name="origin" [(ngModel)]="selectedOrigen"
                                            [disableOptionCentering]="true" [(value)]="selectedOrigen">
                                            <mat-option *ngFor="let item of originDatasource" [value]="item">
                                                {{item.place}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Destino</mat-label>
                                        <mat-select required="true" [disabled]="isDetailed" name="destination"
                                            [(ngModel)]="selectedDestination" [disableOptionCentering]="true"
                                            [(value)]="selectedDestination">
                                            <mat-option *ngFor="let item of destinationDatasource" [value]="item">
                                                {{item.place}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <mat-label>Vehículo</mat-label>
                                        <mat-select required="true" [disabled]="isDetailed" name="bus" [(ngModel)]="selectedBus"
                                            [disableOptionCentering]="true" [(value)]="selectedBus">
                                            <mat-option *ngFor="let item of busDatasource" [value]="item">
                                                {{item.identification}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input required="true" [disabled]="isDetailed"
                                            [(ngModel)]="this.editedRoute.duration" name="duration" matInput
                                            placeholder="Duración en horas" type="time">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input required="true" [disabled]="isDetailed" [(ngModel)]="this.editedRoute.distance"
                                            name="distance" type="number" matInput placeholder="Distancia en kilometros">
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button (click)="close()" class="btn btn-dark pull-right">Cerrar</button>

                            <button [disabled]="loginForm.form.invalid" *ngIf="!isDetailed" mat-raised-button
                                type="submit" (click)="save()" class="btn btn-danger pull-right">Grabar</button>
                            <div class="clearfix"></div>
                            <div class="clearfix"></div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>