<ng-template #contentCancel let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-finish">Aviso</h4>
    <button
      type="button"
      class="close"
      aria-label="Close button"
      aria-describedby="modal-title"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>¿Ud. está seguro de finalizar el viaje?</strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-dark" (click)="modal.dismiss('cancel click')">Cancelar</button>
    <button type="button" ngbAutofocus class="btn btn-info" (click)="modal.close('Ok click')">Aceptar</button>
  </div>
</ng-template>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Viajes</h4>
         
          </div>
          <div class="card-body">
            <div class="card-header">
              <h4 class="card-title">Viajes completados</h4>
            </div>
            <table style="width: 100%" mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="origin">
                <th
                  style="padding-left: 25px !important"
                  class="w-20"
                  mat-header-cell
                  *matHeaderCellDef
                >
                  Origen
                </th>
                <td mat-cell *matCellDef="let element">{{ element.origin }}</td>
              </ng-container>
              <ng-container matColumnDef="departure_date">
                <th class="w-10" mat-header-cell *matHeaderCellDef>
                  Fecha de salida
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.departure_date }}
                </td>
              </ng-container>
              <ng-container matColumnDef="departure_time">
                <th class="w-10" mat-header-cell *matHeaderCellDef>
                  Hora de salida
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.departure_time }}
                </td>
              </ng-container>

              <ng-container matColumnDef="destination">
                <th class="w-20" mat-header-cell *matHeaderCellDef>Destino</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.destination }}
                </td>
              </ng-container>
              <ng-container matColumnDef="arrival_date">
                <th class="w-10" mat-header-cell *matHeaderCellDef>
                  Dia de llegada
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.arrival_date }}
                </td>
              </ng-container>
              <ng-container matColumnDef="arrival_time">
                <th class="w-10" mat-header-cell *matHeaderCellDef>
                  Hora de llegada
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.arrival_time }}
                </td>
              </ng-container>
              <ng-container matColumnDef="bus">
                <th class="w-10" mat-header-cell *matHeaderCellDef>Vehículo</th>
                <td mat-cell *matCellDef="let element">{{ element.bus_id }}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              <ng-container matColumnDef="cancel" stickyEnd>
                <th mat-header-cell *matHeaderCellDef></th>
                <td
                  mat-cell
                  (click)="cancelTravel(element)"
                  *matCellDef="let element"
                >
                  <a href="javascript:void(0)" class="nav-link">
                    <i
                      style="
                        
                        margin-top: -5px !important;
                      "
                      class="material-icons"
                      >delete</i
                    >
                  </a>
                </td>
              </ng-container>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
