|<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Administración de contraseña</h4>
                        <p class="card-category"> Cambiar contraseña</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="chagePasswordFormGroup"> 
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input  name="password" formControlName="password" matInput placeholder="Contraseña actual"
                                      type="password" required>
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input  name="newPassword" formControlName="newPassword" matInput placeholder="Nueva contraseña" 
                                      type="password" required>
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input  name="retryNewPassword" formControlName="retryNewPassword" matInput placeholder="Repita la nueva contraseña"
                                      type="password" required>
                                  </mat-form-field>
                                </div>
                            </div>
                            <div>
                                <button  mat-button class="btn btn-danger" (click)="save()" mat-button >Cambiar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
