<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Registro de usuario</h4>
            <p class="card-category">Complete sus datos</p>
          </div>
          <div class="card-body">
            <form #registerForm="ngForm">
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput name="firstName" [(ngModel)]="this.user.firstname" placeholder="Nombre" required
                      type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput name="lastName" placeholder="Apellido" [(ngModel)]="this.user.lastname" required
                      type="text">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput name="idCards" placeholder="DNI" [(ngModel)]="this.user.idCards" type="number"
                      required>
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field>
                    <input type="text" name="birth_date" matInput [matDatepicker]="picker"
                      [(ngModel)]="this.user.birth_date" required placeholder="Fecha de nacimiento">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input name="email" matInput placeholder="Correo electrónico" [(ngModel)]="this.user.email"
                      type="email" required>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input name="phone" matInput placeholder="Teléfono" [(ngModel)]="this.user.phone" type="number"
                      required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input name="password" matInput placeholder="Contraseña" [(ngModel)]="this.user.password"
                      type="password" required>
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input name="repassword" [(ngModel)]="this.rpassword" matInput placeholder="Repita Contraseña"
                      type="password" required>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <mat-checkbox (click)="isGold($event)" class="example-margin ml-3">Subscribirme a GOLD.</mat-checkbox>
              </div>
              <form #goldForm="ngForm">
                <div *ngIf="gold">
                  <div class="row">
                    <div class="col-md-8">
                      <mat-form-field class="example-full-width">
                        <input name="card_holder" matInput placeholder="Titular" [(ngModel)]="this.user.card_holder"
                          type="text" maxlength="50">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input name="card_number" matInput placeholder="Nro de tarjeta"
                          [(ngModel)]="this.user.card_number" type="number" min=0 max= 9999999999999999>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <label class="mat-form-field-label">Vencimiento</label>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width">
                        <input name="month_exp" [(ngModel)]="this.user.month_exp" matInput placeholder="Mes"
                          type="number" >
                      </mat-form-field>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width">
                        <input name="month_year" [(ngModel)]="this.user.month_year" matInput placeholder="Año"
                          type="number">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width">
                        <input name="security_code" matInput [(ngModel)]="this.user.security_code" placeholder="CVV"
                          type="number" >
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </form>


              <button mat-raised-button class="btn btn-dark pull-right">Cancelar</button>

              <button mat-raised-button [disabled]="registerForm.form.invalid" type="submit"
                (click)="save()" class="btn btn-danger pull-right">Grabar</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>