<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Registro de usuario</h4>
            <p class="card-category">Complete sus datos</p>
          </div>
          <div class="card-body">
            <form [formGroup]="profileFormGroup" (ngSubmit) ="save(registerForm)" #registerForm="ngForm">
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input  matInput formControlName="firstName" name="firstName" [(ngModel)]="this.user.firstname" placeholder="Nombre" required
                      type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input  matInput formControlName="lastName" name="lastName" placeholder="Apellido" [(ngModel)]="this.user.lastname" required
                      type="text">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input  matInput formControlName="idCards" name="idCards" placeholder="DNI" [(ngModel)]="this.user.idCards" type="number"
                      required>
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field>
                    <input  readonly formControlName="birth_date" name="birth_date" matInput [matDatepicker]="picker"
                      [(ngModel)]="this.user.birth_date" required placeholder="Fecha de nacimiento">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input  name="email" matInput formControlName="email" placeholder="Correo electrónico" [(ngModel)]="this.user.email"
                      type="email" required>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input  name="phone" formControlName="phone" matInput placeholder="Teléfono" [(ngModel)]="this.user.phone" type="number"
                      required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input  name="password" formControlName="password" matInput placeholder="Contraseña" [(ngModel)]="this.user.password"
                      type="password" required>
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input  name="repassword" formControlName="rpassword" [(ngModel)]="this.rpassword" matInput placeholder="Repita Contraseña"
                      type="password" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <mat-checkbox (click)="isGold($event)" class="example-margin ml-3">Subscribirme a GOLD.</mat-checkbox>
              </div>
              <div *ngIf="gold">
                  <div class="row">
                    <div class="col-md-8">
                      <mat-form-field class="example-full-width">
                        <input  name="card_holder" formControlName="card_holder" matInput placeholder="Titular" [(ngModel)]="this.user.card_holder"
                          type="text" maxlength="50">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input  name="card_number" formControlName="card_number" matInput placeholder="Nro de tarjeta"
                          [(ngModel)]="this.user.card_number" type="number" min=0 max= 9999999999999999>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <label class="mat-form-field-label">Vencimiento</label>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width">
                        <input  name="month_exp" formControlName="month_exp"  [(ngModel)]="this.user.month_exp" matInput placeholder="Mes"
                          type="number" >
                      </mat-form-field>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width">
                        <input  name="year_exp" formControlName="year_exp" [(ngModel)]="this.user.year_exp" matInput placeholder="Año"
                          type="number">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width">
                        <input  name="security_code" formControlName="security_code"  matInput [(ngModel)]="this.user.security_code" placeholder="CVV"
                          type="number" >
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              <button mat-raised-button  (click)="cancel()"  class="btn btn-dark pull-right">Cancelar</button>
              <button mat-raised-button *ngIf="!this.isEnabled"  type="submit" 
                 class="btn btn-danger pull-right">Grabar</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>